.bgimg-1 {
   background-image: url("./images/sample.jpg");
   min-height: 700px;

   clip-path: inset(10em);
  filter: blur($blur);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgimg-2 {
   background-image: url("./images/second-image.jpg");
   min-height: 500px;
}

.bgimg-1, .bgimg-2 {
   /* Create the parallax scrolling effect */
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.5;
}

.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  opacity: 0.7;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.drop-shadow {
  height: 100%;
  width: 100%;
filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, $shadow-opacity));
  display: flex;
  justify-content: center;
  align-items: center;
   &:before {
    display: block;
    content: "";
    position: absolute;
    top: 10em;
     height: calc(100% - 20em);
    width: calc(100% - 20em);
     border-top: 2px solid rgba(225,225,225, 0.2);
    border-left: 1px solid rgba(225,225,225, 0.1);
     border-right: 1px solid rgba(225,225,225, 0.3);
     z-index: 2;
     filter: blur(1px);
  }


  > span {
    position: absolute;
    z-index: 5;
    color: white;
    font-size: 4em;
    letter-spacing: 0.75em;
    padding-left: 0.375em;
  }
}

@media (max-width: 980px) {
  .drop-shadow {
    &:before {
      top: 5em;
      width: calc(100% - 10em);
    }
    > span {
      font-size: 4em;
    }
  }
}

@media (max-width: 640px) {

  .drop-shadow {
    > span {
      font-size: 2em;
    }
  }
}
