.bgimg-1 {
   background-image: url("./images/sample.jpg");
   min-height: 700px;
}

.bgimg-2 {
   background-image: url("./images/second-image.jpg");
   min-height: 500px;
}

.bgimg-1, .bgimg-2 {
   /* Create the parallax scrolling effect */
   position: relative !important;
   background-attachment: fixed !important;
   background-position: center !important;
   background-repeat: no-repeat !important;
   background-size: cover !important;
   opacity: 0.5;
}
