.bgimg-1 {
   background-image: url("./images/sample.jpg");
   min-height: 700px;
   clip-path: inset(10em);
   filter: blur($blur);
   display: flex;
   justify-content: center;
   align-items: center;
}

.bgimg-2 {
   background-image: url("./images/closed.png");
   min-height: 500px;
}

.bgimg-1, .bgimg-2 {
   /* Create the parallax scrolling effect */
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   /* opacity: 0.5; */
   z-index: -2;
}

.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-radius: 0;
  margin-bottom: 0;
  height: 3.75em;
}

#projects-div {
   width: 70%;
   height: 500px;
   border-style: solid;
   margin: 0 auto;
}
